<%- include("../partials/header") %>
<main>
  <%- include("../partials/navbar") %>
  <body>
    
    <div class="login-render disp-none"><%- include("../partials/login")%></div>
    <div class="signup-render disp-none"><%- include("../partials/signup")%></div>

    <%-body %>
  </body>


  <script src="/scripts/main.js"></script>
  <script src="/scripts/renderLogSign.js"></script>

<%- include("../partials/footer") %>

</main>

</html>