<% layout("layouts/boilerplate") %>
<link href="/css/allContest.css" type="text/css" rel="stylesheet">

<div class="main-container col-l-12 col-m-12 col-s-12">
  <!-- flex-->
  <div class="overlay-container"> </div>

  <div class="sidebar-container col-l-2 col-m-2 col-s-12">
    <div class="sidebar col-l-2 col-m-2 col-s-4">
      <% if (user){ %>
      <div class="user-info">
        <!-- add a centered round image here , by first adding to schema-->
        <a href="/user/<%=user._id%>">
          <h3 id="username"><%=user.name%> </h3>
        </a>
        <hr>
      </div>
      <% }%>

      <ul class="sidebar-menu">
        <!--flex-->
        <li>
          <a href="/contest/running">Running Contests</a>
        </li>
        <li>
          <a href="/contest/running">Problemset</a>
        </li>

        <% if(user) {%>
        <li>
          <a href="/contest/create">Create Contest</a>
        </li>
        <li>
          <a href="/user/<%=user._id%>">Create Team</a>
        </li>
        <% } %>
        <li>
          <a href="/contest/all">All Contests</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="content-box col-l-10 col-m-10 col-s-12">
    <div class="content">
      <h3 id="heading">All Contest</h3>
      <div class="all">
        <% for(let contest of all) {%>
        <div class="all-contest">
          <a href="/contest/<%=contest._id%>" id="title"><%=contest.contestTitle%> </a>
          <hr>
          <div class="info">
            <h4 style = "margin-top: 0;">Date : <%=contest.date%></h4>
            <h4>Time: <%=contest.startTime + "-"+contest.endTime%></h4>
            <h4>Organisation : <%=contest.organisation%></h4>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>