<% layout("layouts/boilerplate") %>
<link href="/css/showProblem.css" type="text/css" rel="stylesheet">


<div class="outer-box">

  <div class="inner-box">
    <a href="/contest/<%=contest._id%>" style="display: block;">Back to Contest Page</a>
    <div class="problem-container">
      <div class="problem">
        <p><b><%=problem.title%></b></p>
        <p><b>Statement:</b><%-problem.statement%> </p>
        <p><b>Input Format:</b><%-problem.input%> </p>
        <p><b>Ouput Format:</b><%-problem.output%> </p>
        <p><% for( let i = 0; i < problem.sampleCases.length; i++ ) { %>
        <p>Input : <textarea readonly class="io"><%=problem.sampleCases[i].input%></textarea></p>
        <p>Ouput : <textarea readonly class="io"><%=problem.sampleCases[i].output%></textarea></p>
        <% } %></p>
      </div>
      <div class="submit-file">
        <div>
          <p>Time remaining : </p>
          <div class="file-form">
            <!-- add form for file submission-->
          </div>
        </div>
      </div>
    </div>
    <div class="code-chat-container">
      <div class="editor">
        <p>Editor</p>
      </div>
      <div class="chatbox">
        <p>Chatbox</p>
      </div>
    </div>

    <form method="POST" action="/submit/619c9bc16d98e84f9b980cb2/<%=problem._id%>">
      <textarea name="code"></textarea>
      <label>Language</label><input type="text" name="lang">
      <label>Type </label><input type="text" name="type">
      
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<script>
  
</script>